---
layout: default
---

<div class="home">

  <div class="section section-bottom-border" id="welcome-section">
    <h1 class="big">Hello there!</h1>

    <h3>Welcome to my personal blog which I use to share experience gathered
      trough my software engineering career. <br />
    </h3>
  </div>

  <div class="section section-bottom-border" id="profile-section">
    <h1 class="big">Who am I?</h1>
    <div class="container">

      <div class="column">
        <div class="profile-container-center">
          <img class="profile-img" src="/images/profile/kamil.jpeg">
          <p class="text-align-center profile-name"></p>
          <p>My name is <b>Kamil</b>, software engineer and co-founder of
            <a href="http://www.zink24.com/">Zink24</a> platform (2015).</p>
          <p>
            Currently, I am a tech lead at Appliscale where I lead products and teams (local and remote ones).
          </p>
          <br />

          <p>I've been happy enough to build products for different industries, some of these are:</p>
          <ul>
            <li><b>AdTech</b>
              <ul>
                <li>Highly scalable RTB (Real-Time Bidding) platform for Verizon Media (former AOL&Yahoo).</li>
                <li>Platform for production and development content monetization.</li>
              </ul>
            </li>
            <li><b>Travel</b> - developing <b>Sabre's</b> travelers' security tracking, messaging and customization platforms.</li>
            <li><b>Law</b> - law matters management platform.</li>
          </ul>

          <br />
          <p>
            One of my key rule is the close cooperation with business stakeholders
            to build the right products.
          </p>

          <br />

          <p>
            If you want to get in touch via <b>social media</b>, checkout one of these:
          </p>
            {% include icon-linkedin.html username="kamilkubacki" %} <br />
            {% include icon-github.html username="natif" %} <br />
            {% include icon-twitter.html username="kamilkubacki" %}
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="contact-section">
    <h1 class="big">Where am I?</h1>
    <div class="contact">
      <h3>I live in my hometown - Kraków, Poland.</h3>

      <div class="contact-us-button margin-top-40x">
        <a href="mailto:{{ site.email }}" class="contact-button">Contact</a>
      </div>
    </div>
  </div>

</div>
