---
layout: default
---

<div class="home">

  <div class="section section-bottom-border" id="welcome-section">
    <h1 class="big">Hello there!</h1>

    <h3>My name is Kamil and I am a software developer located in Kraków, Poland.
      In recent years, I mostly did Java programming and DevOPS stuff. <br />
      Thanks to that experience, I decided to share my knowledge with you on my blog.
    </h3>
  </div>

  <div class="section section-bottom-border" id="profile-section">
    <h1 class="big">Who am I?</h1>
    <div class="container">

      <div class="column">
        <div class="profile-container-center">
          <img class="profile-img" src="/images/profile/kamil.jpeg">
          <p class="text-align-center profile-name"></p>
          <p>Professional software developer since 2012 and co-founder of
            <a href="http://www.zink24.com/">Zink24</a> platform (2015).
          </p>

          <p>My engineering experience in Java, Erlang and DevOPS technologies has been used in:</p>
          <ul>
            <li><b>AdTech</b> - developing highly scalable Real-Time Bidding platform.</li>
            <li><b>Travel</b> - developing highly scalable Real-Time Bidding platform.</li>
          </ul>

          <br />
          <p>
            One of my key rule while working on software projects is close cooperation with business stakeholders
            to meet their needs.
          </p>

          <br />

          <p>
            If you want to get in contact via social media, checkout one of these:
          </p>
            {% include icon-github.html username="natif" %} <br />
            {% include icon-linkedin.html username="kamilkubacki" %} <br />
            {% include icon-twitter.html username="kamilkubacki" %}
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="contact-section">
    <h1 class="big">Where am I?</h1>
    <div class="contact">
      <h3>I live in my hometown - Kraków, Poland.</h3>

      <div class="contact-us-button margin-top-40x">
        <a href="mailto:{{ site.email }}" class="contact-button">Contact</a>
      </div>
    </div>
  </div>

</div>
